.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
  flex-wrap: wrap;
  padding: 20px;
}

.formulario {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  width: 350px;
  margin-right: 60px;
  max-width: 100%;
  box-sizing: border-box;
}

.formulario h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 12px;
  margin-bottom: 12px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 20px;
  font-size: 14px;
}

.erro {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.botao {
  background-color: #00d98b;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 8px;
}

.botao:hover {
  background-color: #00c07a;
}

.divisor {
  margin: 40px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.linkCadastro,
.linkRecuperarSenha,
.linkLoginRestaurante {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.criar,
.recuperarSenha,
.linkLoginRestaurante {
  color: #00d98b;
  cursor: pointer;
  font-weight: bold;
}

.linkLoginRestaurante {
  color: #0e00d9;
  margin-top: 20px;
}

.linkLoginRestaurante:hover,
.criar:hover,
.recuperarSenha:hover {
  color: #050a0f;
}

.logoContainer {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  margin-right: 60px;
  max-width: 100%;
  box-sizing: border-box;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

.unifood {
  font-size: 24px;
  font-weight: bold;
}

.subtitulo {
  font-size: 16px;
  font-weight: 600;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
    height: auto;
  }

  .formulario,
  .logoContainer {
    margin-right: 0;
    width: 100%;
    padding: 20px;
  }

  .logo {
    width: 80px;
    margin: 0 auto 20px;
    display: block;
  }

  .unifood, .subtitulo {
    text-align: center;
  }
}
